In [6]:
# Vector dot product comes up often with machine learning algorithms
# e.g., 
# y = B0 + B1 x1 + B2 x2 + ... + Bp xp

In [7]:
import pandas as pd
import numpy as np

In [8]:
# Creating a simple table
df = pd.DataFrame({'x1': [1., 1., 1., 2., 2., 2.], 'x2': np.arange(1., 7.)})
df['y'] = 2 + 3*df.x1 - 2*df.x2
df

    x1   x2    y
0  1.0  1.0  3.0
1  1.0  2.0  1.0
2  1.0  3.0 -1.0
3  2.0  4.0  0.0
4  2.0  5.0 -2.0
5  2.0  6.0 -4.0

In [9]:
# Extracting attributes (everything but last column)
X = df[['x1', 'x2']]
X

print(df.columns[:-1])
X = df[df.columns[:-1]]
X

X = df.iloc[:, :-1]
X

# Extracting the last column (as a data series)
y = df[df.columns[-1]]
y

# Extracting the last column as a 1-column table
y = df[[df.columns[-1]]]
y

Index(['x1', 'x2'], dtype='object')

     y
0  3.0
1  1.0
2 -1.0
3  0.0
4 -2.0
5 -4.0

In [10]:
# Multiplying an array (or table) by a scalar
2 * X

    x1    x2
0  2.0   2.0
1  2.0   4.0
2  2.0   6.0
3  4.0   8.0
4  4.0  10.0
5  4.0  12.0

In [11]:
# Multiplying values in each row by a row vector
v = [2,10]
X * v

    x1    x2
0  2.0  10.0
1  2.0  20.0
2  2.0  30.0
3  4.0  40.0
4  4.0  50.0
5  4.0  60.0

In [12]:
# Multiplying values in each COLUMN by a column vector
w = [2,2,2, 10, 10, 10]
X.mul(w, axis=0)

     x1    x2
0   2.0   2.0
1   2.0   4.0
2   2.0   6.0
3  20.0  40.0
4  20.0  50.0
5  20.0  60.0

In [13]:
# Dot product
# B0 + B1 x1 + B2 x2

B = [1, 1, 2]
bias = B[0]
wts = B[1:]
print(B, bias, wts)

[1, 1, 2] 1 [1, 2]

In [14]:
X

    x1   x2
0  1.0  1.0
1  1.0  2.0
2  1.0  3.0
3  2.0  4.0
4  2.0  5.0
5  2.0  6.0

In [15]:
# for each row compute 1 + 1 x1 + 2 x2
bias + X.dot(wts)

0     4.0
1     6.0
2     8.0
3    11.0
4    13.0
5    15.0
dtype: float64